.Header {
    background-color: #3d4956;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    justify-content: space-between;
}

.logo {
    height: 75px;
    margin-left: 10px;
}

h4 {
    color: #ffffff;
    margin-right: 10px;
    align-content: end;
}